.pessoa__imagem {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    height: 300px;
    margin: 0 auto;
    width: 300px;
}

.pessoa__imagem--karol {
    background-image: url('../../img/pessoas/karol.jpg');
}

.pessoa__imagem--layza {
    background-image: url('../../img/pessoas/layza.jpg');
}

.pessoa__imagem--henthony {
    background-image: url('../../img/pessoas/henthony.jpg');
}

.pessoa__imagem--jose {
    background-image: url('../../img/pessoas/jose.jpg');
}
